<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body class="body">
<nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color: #787777;">
  <a class="navbar-brand" href="#">FifaCoin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li><%=link_to "Nationals", national_index_path,{style:"color:#000000",class: 'btn btn-nabbar'}%></li>
      <li><%=link_to "Locals", local_index_path,{style:"color:#000000",class: 'btn btn-nabbar'}%></li>
      <li><%=link_to "Vendors", vendor_index_path,{style:"color:#000000",class: 'btn btn-nabbar'}%></li>
      <!--<li class="nav-item dropdown">-->
      <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
      <!--Dropdown-->
      <!--</a>-->
      <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
      <!--<a class="dropdown-item" href="#">Action</a>-->
      <!--<a class="dropdown-item" href="#">Another action</a>-->
      <!--<div class="dropdown-divider"></div>-->
      <!--<a class="dropdown-item" href="#">Something else here</a>-->
      <!--</div>-->
      <!--</li>-->
    </ul>
    <% if fifa_signed_in? or vendor_signed_in? or national_signed_in? or local_signed_in? %>
        <h2 style= "color:#000000" class= "btn btn-nabbar"}>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        </h2>
    <% else %>
        <h1>
          <%= link_to('Fifa Login', new_fifa_session_path,{style:"color:#FFFFFF",class:"btn btn-outline-success"})  %>
        </h1>
        <h1>
          <%= link_to('National Login', new_national_session_path,{style:"color:#FFFFFF",class:"btn btn-outline-success"})  %>
        </h1>
        <h1>
          <%= link_to('Local Login', new_local_session_path,{style:"color:#FFFFFF",class:"btn btn-outline-success"})  %>
        </h1>
        <h1>
          <%= link_to('Vendor Login', new_vendor_session_path,{style:"color:#FFFFFF",class:"btn btn-outline-success"})  %>
        </h1>
    <% end %>
  </div>
</nav>
<div class="review_form center">
  <%= form_for @national do |f| %>
      <%= f.hidden_field :id, value: params[:id] %>
      <%= f.label "Amount to Send" %>
      <%= f.number_field :num_coins %>
      <br />
      <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
